/* Ajout propriété CSS box-sizing */
.box {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}

* {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}

body {
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
    margin : 0 auto;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

header img {
    height: 45px;
    padding-left: 10px;
}

nav ul {
    margin: 0;
    list-style: none;
    display: flex;
}

nav li {
   padding: 50px 30px;
   border-top: 2px solid transparent;
}

nav li.selected {
    border-top: 2px solid #0065FC;
}

nav a {
    text-decoration: none;
    color: #000000;
}

nav .selected a, nav a:hover {
    color: #0065FC;
}

main {
    padding: 0 50px;
}

main h2 {
    font-weight: bold;
    font-size: 22px;
}

main {
    line-height: 1;
}

/* Search bar */
#searchbar {
    display: flex;
}

#searchbar .location-dot {
    width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    text-align: center;
    font-size: 19px;
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#searchbar .searchInput {
    border-left: none;
    border-right: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    font-weight: bold;
    padding: 0 15px;
}

#searchbar .searchButton {
    background-color: #0065FC;
    color: #ffffff;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding : 0 15px;
    font-weight: bold;
}

/* Filters */
#filters {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

#filters strong {
    margin-right: 30px;
}

#filters .filter {
    display: flex;
    align-items: center;
    border: 2px solid #f2f2f2;
    border-left: none;
    border-radius: 50px;
    margin-right: 25px;
    padding-right: 20px;
    font-weight: bold;
}

#filters .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #deebff;
    color: #0065FC;
    margin-right: 15px;
}

/* Information bloc */
.info {
    margin: 30px 0 0 0;
}

.info i {
    width: 25px;
    height: 25px;
    border: 2px solid #f2f2f2;
    padding: 4px;
    color: #0065FC;
    font-size: 13px;
    border-radius: 50px;
    position: relative;
    bottom: 2px;
    text-align: center;
    margin-right: 5px;
}

#results_wrapper {
    height: 625px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

#results_wrapper h2 {
    margin: 0 0 20px 0;
}

/* Hébergements à [Ville] */
#accomodations {
    width: 880px;
    height: 100%;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 40px;
}

#accomodations .cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#accomodations .card {
    background-color: #ffffff;
    width: 245px;
    height: 200px;
    margin-bottom: 30px;
    border-radius: 15px;
    padding: 5px;
    font-size: 14px;
}

#accomodations .card img {
    object-fit: cover;
    width: 100%;
    height: 120px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#accomodations .card .description {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

#accomodations .card h3 {
    margin: 0;
}

#accomodations .card p {
    margin: 0;
}

/* Les plus populaires */
#most_popular {
    width: 420px;
    height: 100%;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 40px;
}

#most_popular .fa-star {
    float: right;
}

#most_popular .cards {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between
}

#most_popular .card {
    background-color: #ffffff;
    width: 100%;
    height: 145px;
    border-radius: 15px;
}

/* Notation */
.rating {
    font-size: 12px;
    color: #f2f2f2;
    display: flex;
}

.rating .checked {
    color: #0065FC;
}