/* box-sizing */
* {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}

body {
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
    margin : 0 auto;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

header img {
    height: 45px;
    padding-left: 10px;
}

nav ul {
    margin: 0;
    list-style: none;
    display: flex;
}

nav li {
    padding: 50px 30px;
    border-top: 2px solid transparent;
}

nav li:hover {
    border-top: 2px solid #0065FC;
}

nav a {
    text-decoration: none;
    color: #000000;
}

nav a:hover {
    color: #0065FC;
}

main {
    padding: 0 50px;
}

main h1, main h2 {
    font-weight: bold;
    font-size: 22px;
}

main {
    line-height: 1;
}

/* Search bar */
#searchbar {
    display: flex;
}

#searchbar .location-dot {
    width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    text-align: center;
    font-size: 19px;
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#searchbar .searchInput {
    border-left: none;
    border-right: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    outline: none;
    font-weight: bold;
    padding: 0 15px;
}

#searchbar .searchButton {
    background-color: #0065FC;
    color: #ffffff;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding : 0 15px;
    font-weight: bold;
    cursor: pointer;
}

/* Filters */
#filters {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

#filters strong {
    margin-right: 30px;
}

#filters .filter {
    display: flex;
    align-items: center;
    border: 2px solid #f2f2f2;
    border-left: none;
    border-radius: 50px;
    margin-right: 25px;
    padding-right: 20px;
    font-weight: bold;
}

#filters .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #deebff;
    color: #0065FC;
    margin-right: 15px;
}

/* Information bloc */
.info {
    margin: 30px 0 0 0;
}

.info i {
    width: 25px;
    height: 25px;
    border: 2px solid #f2f2f2;
    padding: 4px;
    color: #0065FC;
    font-size: 13px;
    border-radius: 50px;
    position: relative;
    bottom: 2px;
    text-align: center;
    margin-right: 5px;
}

#results_wrapper {
    height: 625px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

#results_wrapper h2 {
    margin: 0 0 20px 0;
}

.card {
    box-shadow: 0 5px 15px #dddddd;
    padding: 5px;
}
.card:hover {
    box-shadow: 0 5px 15px #aaaaaa;
}

/* Hébergements à [Ville] */
#accomodations {
    height: 100%;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 40px;
    flex: 2;
}

#accomodations .cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#accomodations .card {
    background-color: #ffffff;
    width: 245px;
    height: 200px;
    margin-bottom: 30px;
    border-radius: 15px;
    font-size: 13px;
}

#accomodations .card img {
    object-fit: cover;
    width: 100%;
    height: 115px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#accomodations .card .description {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 10px;
}

#accomodations .see-more a {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
#accomodations .see-more a:hover {
    text-decoration: underline;
}

h3 {
    margin: 0;
}

#accomodations .card p {
    margin: 0;
}

/* Les plus populaires */
#most_popular {
    height: 100%;
    background-color: #f2f2f2;
    border-radius: 15px;
    margin-left: 40px;
    padding: 40px;
    flex: 1;
}

#most_popular .fa-star {
    float: right;
}

#most_popular .cards {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding-bottom: 40px;
}

#most_popular .card {
    display: flex;
    background-color: #ffffff;
    width: 100%;
    height: 145px;
    border-radius: 15px;
    font-size: 13px;
}

#most_popular .card img {
    object-fit: cover;
    width: 125px;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#most_popular .card .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 20px 10px 20px;
}

/* Notation */
.rating {
    font-size: 12px;
    color: #f2f2f2;
    display: flex;
}

.rating .checked {
    color: #0065FC;
}

/* Activités à [Ville] */
#activities {
    padding: 50px 0;
}

#activities h3 {
    font-size: 16px;
}

#activities .cards {
    display: flex;
    flex-flow: column wrap;
    max-height: 450px;
    justify-content: space-between;
    align-content: space-between;
}

#activities .card {
    width: 23%;
    border-radius: 15px;
    padding: 0;
}

#activities .card img {
    object-fit: cover;
    width: 100%;
    height: 115px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#activities .card .description {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

#activities .big img {
    height: 390px;
}

#activities .medium img {
    height: 180px;
}

#activities .small img {
    height: 110px;
}

footer {
    background-color: #f2f2f2;
    display: flex;
    padding: 50px;
}

footer ul {
    list-style: none;
    width: 450px;
    margin: 0;
    padding: 0;
}

footer li {
    margin-top: 15px;
}

footer li:first-child {
    font-weight: bold;
    margin: 0;
}

footer li a {
    color: #000000;
    text-decoration: none;
}

footer li a:hover {
    text-decoration: underline;
}