/* Ajout propriété CSS box-sizing */
.box {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}

* {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}

body {
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
    margin : 0 auto;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

header img {
    height: 45px;
    padding-left: 10px;
}

nav ul {
    margin: 0;
    list-style: none;
    display: flex;
}

nav li {
   padding: 50px 30px;
   border-top: 2px solid transparent;
}

nav li.selected {
    border-top: 2px solid #0065FC;
}

nav a {
    text-decoration: none;
    color: #000000;
}

nav .selected a, nav a:hover {
    color: #0065FC;
}